    .cards-css {
        width: 100%;
    }
    
    .card-css {
        background-color: #fff;
        position: relative;
        border-radius: 12px;
        overflow: hidden;
        box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
        height: auto;
        transition: transform .2s;
    }
    
    .card-css:hover {
        cursor: pointer;
        transform: scale(1.035);
        margin-left: -10px;
    }
    
    .card__info-hover {
        position: absolute;
        padding: 16px;
        width: 100%;
        opacity: 0;
        top: 0;
    }
    
    .card__info {
        z-index: 2;
        background-color: #fff;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        padding: 16px 24px 24px 24px;
    }
    
    .card__category {
        font-family: $raleway-sans;
        text-transform: uppercase;
        font-size: 13px;
        letter-spacing: 2px;
        font-weight: 500;
        color: #868686;
    }
    
    .card__title {
        margin-top: 5px;
        margin-bottom: 10px;
    }
    
    .card__by {
        font-size: 12px;
        font-family: $raleway-sans;
        font-weight: 500;
    }
    
    .card__author {
        font-weight: 600;
        text-decoration: none;
        color: #AD7D52;
        transition: 0.5s;
    }
    
    .card__author:hover {
        text-decoration: none;
        color: rgb(95, 59, 28);
    }