.skills-background {
    background: $background-color;
    h5 {
        font-family: $font-family;
    }
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.skills-bar-container {
    position: relative;
    width: 90%;
    min-width: 300px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    list-style: none;
    li {
        position: relative;
        width: 100%;
        padding: $li-padding;
        margin-bottom: 10px;
        .progressbar-title {
            color: $progressbar-title-color;
            h5 {
                display: inline-block;
            }
            .percent {
                position: absolute;
                right: $li-padding;
            }
        } // end progressbar-title
        .bar-container {
            background: #555;
            position: relative;
            width: 100%;
            height: 5px;
            margin-top: 5px;
            display: block;
            @include border-radius(5px);
            .progressbar {
                position: absolute;
                width: 0%;
                height: 100%;
                @include border-radius(5px);
                -webkit-animation-duration: 2s;
                animation-duration: 2s;
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
                -webkit-animation-fill-mode: both;
                animation-fill-mode: both;
            }
            #progress-html {
                -webkit-animation-name: progress-html;
                animation-name: progress-html;
                -webkit-animation-delay: $animation-delay;
                animation-delay: $animation-delay;
            }
            #progress-css {
                -webkit-animation-name: progress-css;
                animation-name: progress-css;
                -webkit-animation-delay: $animation-delay*2;
                animation-delay: $animation-delay*2;
            }
            #progress-javascript {
                -webkit-animation-name: progress-javascript;
                animation-name: progress-javascript;
                -webkit-animation-delay: $animation-delay*3;
                animation-delay: $animation-delay*3;
            }
            #progress-php {
                -webkit-animation-name: progress-php;
                animation-name: progress-php;
                -webkit-animation-delay: $animation-delay*4;
                animation-delay: $animation-delay*4;
            }
            #progress-angular {
                -webkit-animation-name: progress-angular;
                animation-name: progress-angular;
                -webkit-animation-delay: $animation-delay*5;
                animation-delay: $animation-delay*5;
            }
            #progress-cyber {
                -webkit-animation-name: progress-cyber;
                animation-name: progress-cyber;
                -webkit-animation-delay: $animation-delay;
                animation-delay: $animation-delay;
            }
            #progress-react {
                -webkit-animation-name: progress-react;
                animation-name: progress-react;
                -webkit-animation-delay: $animation-delay*2;
                animation-delay: $animation-delay*2;
            }
            #progress-vue {
                -webkit-animation-name: progress-vue;
                animation-name: progress-vue;
                -webkit-animation-delay: $animation-delay*3;
                animation-delay: $animation-delay*3;
            }
            #progress-firebase {
                -webkit-animation-name: progress-firebase;
                animation-name: progress-firebase;
                -webkit-animation-delay: $animation-delay*4;
                animation-delay: $animation-delay*4;
            }
            #progress-bd {
                -webkit-animation-name: progress-bd;
                animation-name: progress-bd;
                -webkit-animation-delay: $animation-delay*5;
                animation-delay: $animation-delay*5;
            }
            #progress-drupal {
                -webkit-animation-name: progress-cybdrupaler;
                animation-name: progress-drupal;
                -webkit-animation-delay: $animation-delay;
                animation-delay: $animation-delay;
            }
            #progress-android {
                -webkit-animation-name: progress-android;
                animation-name: progress-android;
                -webkit-animation-delay: $animation-delay*2;
                animation-delay: $animation-delay*2;
            }
            #progress-csharp {
                -webkit-animation-name: progress-csharp;
                animation-name: progress-csharp;
                -webkit-animation-delay: $animation-delay*3;
                animation-delay: $animation-delay*3;
            }
            #progress-java {
                -webkit-animation-name: progress-java;
                animation-name: progress-java;
                -webkit-animation-delay: $animation-delay*4;
                animation-delay: $animation-delay*4;
            }
            #progress-wordpress {
                -webkit-animation-name: progress-wordpress;
                animation-name: progress-wordpress;
                -webkit-animation-delay: $animation-delay*5;
                animation-delay: $animation-delay*5;
            }
        } // end bar-container
    }
}

.progressred {
    background-color: $red;
}

.progressblue {
    background-color: $blue;
}

.progresspurple {
    background-color: $purple;
}

.progressorange {
    background-color: $orange;
}

.progressgreen {
    background-color: $green;
}

@-webkit-keyframes progress-html {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

@-webkit-keyframes progress-css {
    0% {
        width: 0%;
    }
    100% {
        width: 90%;
    }
}

@-webkit-keyframes progress-javascript {
    0% {
        width: 0%;
    }
    100% {
        width: 70%;
    }
}

@-webkit-keyframes progress-php {
    0% {
        width: 0%;
    }
    100% {
        width: 55%;
    }
}

@-webkit-keyframes progress-angular {
    0% {
        width: 0%;
    }
    100% {
        width: 65%;
    }
}

@-webkit-keyframes progress-cyber {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

@-webkit-keyframes progress-react {
    0% {
        width: 0%;
    }
    100% {
        width: 90%;
    }
}

@-webkit-keyframes progress-vue {
    0% {
        width: 0%;
    }
    100% {
        width: 70%;
    }
}

@-webkit-keyframes progress-firebase {
    0% {
        width: 0%;
    }
    100% {
        width: 55%;
    }
}

@-webkit-keyframes progress-bd {
    0% {
        width: 0%;
    }
    100% {
        width: 65%;
    }
}

@-webkit-keyframes progress-drupal {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

@-webkit-keyframes progress-android {
    0% {
        width: 0%;
    }
    100% {
        width: 90%;
    }
}

@-webkit-keyframes progress-csharp {
    0% {
        width: 0%;
    }
    100% {
        width: 70%;
    }
}

@-webkit-keyframes progress-java {
    0% {
        width: 0%;
    }
    100% {
        width: 55%;
    }
}

@-webkit-keyframes progress-wordpress {
    0% {
        width: 0%;
    }
    100% {
        width: 65%;
    }
}

@-moz-keyframes progress-html {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

@-moz-keyframes progress-css {
    0% {
        width: 0%;
    }
    100% {
        width: 90%;
    }
}

@-moz-keyframes progress-javascript {
    0% {
        width: 0%;
    }
    100% {
        width: 70%;
    }
}

@-moz-keyframes progress-php {
    0% {
        width: 0%;
    }
    100% {
        width: 55%;
    }
}

@-moz-keyframes progress-angular {
    0% {
        width: 0%;
    }
    100% {
        width: 65%;
    }
}

@-moz-keyframes progress-cyber {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

@-moz-keyframes progress-react {
    0% {
        width: 0%;
    }
    100% {
        width: 90%;
    }
}

@-moz-keyframes progress-vue {
    0% {
        width: 0%;
    }
    100% {
        width: 70%;
    }
}

@-moz-keyframes progress-firebase {
    0% {
        width: 0%;
    }
    100% {
        width: 55%;
    }
}

@-moz-keyframes progress-bd {
    0% {
        width: 0%;
    }
    100% {
        width: 65%;
    }
}

@-moz-keyframes progress-drupal {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

@-moz-keyframes progress-android {
    0% {
        width: 0%;
    }
    100% {
        width: 90%;
    }
}

@-moz-keyframes progress-csharp {
    0% {
        width: 0%;
    }
    100% {
        width: 70%;
    }
}

@-moz-keyframes progress-java {
    0% {
        width: 0%;
    }
    100% {
        width: 55%;
    }
}

@-moz-keyframes progress-wordpress {
    0% {
        width: 0%;
    }
    100% {
        width: 65%;
    }
}

@keyframes progress-html {
    0% {
        width: 0%;
    }
    100% {
        width: 95%;
    }
}

@keyframes progress-css {
    0% {
        width: 0%;
    }
    100% {
        width: 85%;
    }
}

@keyframes progress-javascript {
    0% {
        width: 0%;
    }
    100% {
        width: 80%;
    }
}

@keyframes progress-php {
    0% {
        width: 0%;
    }
    100% {
        width: 80%;
    }
}

@keyframes progress-angular {
    0% {
        width: 0%;
    }
    100% {
        width: 60%;
    }
}

@keyframes progress-cyber {
    0% {
        width: 0%;
    }
    100% {
        width: 50%;
    }
}

@keyframes progress-react {
    0% {
        width: 0%;
    }
    100% {
        width: 65%;
    }
}

@keyframes progress-vue {
    0% {
        width: 0%;
    }
    100% {
        width: 75%;
    }
}

@keyframes progress-firebase {
    0% {
        width: 0%;
    }
    100% {
        width: 80%;
    }
}

@keyframes progress-bd {
    0% {
        width: 0%;
    }
    100% {
        width: 80%;
    }
}

@keyframes progress-drupal {
    0% {
        width: 0%;
    }
    100% {
        width: 50%;
    }
}

@keyframes progress-android {
    0% {
        width: 0%;
    }
    100% {
        width: 84%;
    }
}

@keyframes progress-csharp {
    0% {
        width: 0%;
    }
    100% {
        width: 78%;
    }
}

@keyframes progress-java {
    0% {
        width: 0%;
    }
    100% {
        width: 90%;
    }
}

@keyframes progress-wordpress {
    0% {
        width: 0%;
    }
    100% {
        width: 90%;
    }
}